@import "variabless.less";
.border(@tick,@type,@color){
  border: @tick @type @color;
}

body{
  max-width: 1400px;
  margin: @marginCenter;
  color: @textColor;
  overflow-x: hidden;
}
.indexContent{
  font-size: 18px;
  margin: @marginCenter;
  max-width: 1300px;
}
header{
  background: linear-gradient(#eff0f0 90%,#cadcfc );
  margin: 0 auto;
  text-align: center;
  div{
    margin-left: 30px;
  }
  div:first-child{
    margin-left: 0;
  }
}
.circles{
  padding-top: 60px;
  padding-bottom: 20px;
  div:first-child{
      background-color: @mainWhite;
    p{
      color: @mainBlue;
      }
    }
  div:nth-child(2) {
        background-color: @mainGreen;
      p{
          color: @mainWhite;
        }
    }
  div:last-child::after{
      content: none;
    }
}
@media only screen and (max-width: 590px){
  .circles{
    text-align: center;
    display: inline-block;
    width: 50%;
    margin: @marginCenter;
    overflow: hidden;
    ::after{
      display: none;
    }
  }
  header{
    div:first-child{
     margin-left: 30px;
    }
  }
}
.headerCircle{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #b5b4b6;
  border-radius: @borderRadiusCircle;
  .border(1px,solid,lightgray);
  text-align: center;
  position: relative;
  cursor: pointer;
  p{
    position: relative;
    top: 25%;
    height: 50px;
    font-weight: bold;
    color: @mainWhite;
  }
  &::after{
    content: "";
    position: absolute;
    width: 25px;
    .border(1px,solid,lightgray);
    right:0;
    top: 50%;
    transform: translate(30px);
  }
}
.mainContent{
  padding: 0 40px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background: url(../images/blorry.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
   .paragraph{
    margin-bottom: 25px;
  }
}
h1{
  text-align: center;
  margin-bottom: 30px;
}
.leftContent{
  p{
    text-align: justify;
  }
}
#motoText{
  margin-bottom: 30px;
  padding-right: 20px;
}
.bonusSection{
  p{
    margin-left: 0;
    padding-right: 20px;
  }
  h3{
    color: @mainGreen;
    font-weight: bold;
  }
  ul{
    margin-left: 0;
    padding-left: 8px;
    li{
      list-style-type: none;
      padding: 5px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 8px;
        .border(1px,solid,@textColor);
        opacity: 0.8;
        left: 0;
        transform: translate(-7px,12px);
      }
    }
  }
}
.present{
  color: @mainGreen;
  margin-bottom: 5px;
  padding-left: 145px;
  >p{
    display: inline;
  margin-left: 30px;
  line-height: 0;
  font-size: 30px;
  }
}
.progressBarText{
  position: absolute;
  left: 30%;
  top:25%;
  z-index: 2;
  p{
    padding: 0; margin: 0;
    line-height: 30px;
    text-align: center;
    &:nth-child(2){
      line-height: 30px;
      font-size: 26px;
      font-weight: bold;
    }
    &:nth-child(1){
      line-height: 30px;
      font-size: 50px;
      font-weight: bold;
      span{
        line-height: 50px;
        margin-bottom: 5px;
      }
    }
  }
}
@media only screen and(max-width: 1115px){
  .bonusSection{
    padding: 50px;
  }
}
.progressBar{
  position: relative;
  margin-left: 60px;
  width: 250px;
  height: 250px;
  border-radius: @borderRadiusCircle;
  &::after{
    position: absolute;
    content: "";
    width: 245px;
    top:0;
    left:0;
    transform: translate(4px,8px);
    height: 240px;
    border: 1px solid gray;
    z-index: 1;
    border-radius: @borderRadiusCircle;
    }
    .progress{
      z-index: 2;
        width: 255px;
        height: 255px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
        .progress-bar{
          width: 100%;
          height: 100%;
          background: none;
          border-width: 14px;
          border-style: solid;
          position: absolute;
          top: 0;
          border-color: @mainGreen;
        }
        .progress-left{
          .progress-bar{
            left: 100%;
            border-top-right-radius: 160px;
            border-bottom-right-radius: 160px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
            transform: rotate(0deg);
          }
        }
        .progress-right{
          .progress-bar{
              left: -100%;
              border-top-left-radius: 160px;
              border-bottom-left-radius: 160px;
              border-right: 0;
              background-color: transparent;
              -webkit-transform-origin: center right;
              transform-origin: center right;
              transform: rotate(120deg);
          }
        }
        > span{
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }
        .progress-right{
            right: 0;
        }
    }
}
@media only screen and (max-width: 380px){
  .present{
      padding: 0;
      margin-left: 80px;
  }
  .progressBar{
    display: block;
    margin-left: 0;
  }
}
.h2Header{

  margin-bottom: 15px;
  font-weight: bold;
  display: inline-block;
  .marginLeft{
    margin-left: 20px;
  }
}
.products{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 20px;
}
.greenProducts{
  background-color: rgba(65, 175, 137, 0.15);
  color: @mainGreen;
  .product{
    background-color: @mainGreen;
  }
}
.blueProducts{
  background-color:rgba(10, 81, 127, 0.15);
  color: @mainBlue;
  .product{
    background-color: @mainBlue;
  }

}
.productText{
  display: inline-block;
  width: 150px;
  float: left;
}
.producth3{
  margin-top: 10px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}
.product{
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 170px;
  margin: 10px 5px;
  padding: 10px 10px;
  color: @mainWhite;
  .leftSpan{
    float: left;
  }
  .rightSpan{
    float: right;
  }
  .centerSpan{
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    cursor: default;
  }
    span{
      cursor: pointer;
    }
  p{
    text-align: center;
    margin-left: 0;
  }
}
.productArea{
  float: left;
  margin-left: 25px;
  min-width: 320px;
  min-height: 150px;
}
.actionProduct{
  float: right;

  cursor: pointer;
}
@media only screen and (max-width:580px){
 .products{
    .productArea{
      float: none;
    }
    .productText{
      float: none;
    }
    .product{
        display: block;
        margin: 10px auto;
    }
  }
}
.checkToogle{
  display: inline-block;
  float: right;
  margin-right: 2.5%;
  .description{
    display: inline;
    text-align: center;
    margin-bottom: -10px;
    position: absolute; right: 0;
    margin-right: 100px;
    margin-top: 20px;
  }
}
@media only screen and (max-width:520px){
  .checkToogle{
    .description{
      display: none;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  top: 20px;
  width: 60px;
  height: 30px;
   input{
     display:none;
     &:checked ~ .slider::before{
       background: @mainBlue;
       transform: translate(22px);
     }
   }

}

.slider {
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  &::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: @borderRadiusCircle;
    left: 4px;
    background-color: @mainWhite;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.notSelectedProducts{
  background-color:rgba(10, 81, 127, 0.15);
  width: 100%;
  margin: @marginCenter;
  color: @mainBlue;
  padding: 15px 30px;
}
.notSelectedProductsArea{
  padding-right: 0;
  min-height: 200px;
  .product{
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;
    color: @mainBlue;
    background-color: rgba(255, 255, 255, 0.5);
    .border(2px,dashed,@mainBlue);
    .glyphicon-info-sign{
      background: @mainBlue;
      color: @mainWhite;
      border-radius: 50%;
    }
  }
}


.rightContent{
  background-color: @mainWhite;
  width: 100%;
  margin: @marginCenter;
  margin-top: 30px;
  .rightContentPart{
    padding: 15px 15px;
    border-bottom: 1px solid gray;
  }
  p{
    margin: 5px 0;
  }
  ul{
    list-style-type:none;
    li{
      position: relative;
      padding: 15px;
      &:after{
          content: "";
          position: absolute;
          width: 8px;
          height: 20px;
          border-width: 0 4px 4px 0;
          border-style: solid;
          border-color: @mainGreen;
          transform: rotate(45deg);
          left:-10px;
      }
    }
  }
}
.price{
  float:right;
  font-weight: bold;
  color:black;
  margin-right: 30px;
}

.checkBoxDiv{
  position: relative;
  background-color: #eeefef;
  width: 90%;
  margin: @marginCenter;
  margin-bottom: 15px;
  padding: 15px;
  .price{
    margin-right: 0;
  }
  .checkBox{
    cursor: pointer;
    width: 100%;
    input{
      opacity: 0;
      &:checked ~ .checkmark::after{
        opacity: 1;
      }
    }
    .checkmark{
    width:20px;
    height: 20px;
    top:18px;
    left:10px;
    position:absolute;
    background-color: @mainWhite;
    .border(1px,solid,@textColor);
    &::after{
      content: "";
      opacity: 0;
      position: absolute;
      width: 8px;
      height: 18px;
      left: 5px;
      top: -2px;
      border-width: 0 4px 4px 0;
      border-style: solid;
      border-color: @mainGreen;
      transform: rotate(45deg);
      }
    }
  }
  :nth-child(4){
    float: right;
  }
  :nth-child(3){
    margin-left: 10px;
  }
}
.asideDescription{
  padding-right: 20px;
  padding-bottom: 40px;
  position: relative;
}
.radioButtonAside{
  label{
    cursor: pointer;
    & > input{
      appearance:none;
      -moz-appearance:none;
    }
  }
  .checkmark{
  position: absolute;
  width:20px;
  height: 20px;
  border-radius: 50%;
  background-color: @mainWhite;
  top:18px;
  left:10px;
  .border(1px,solid,gray);
  &::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: @mainGreen;
    opacity: 0;
    left: 17%;
    top: 17%;
    }
  }
  :nth-child(3){
    margin-left: 20px;
  }
  input:checked ~ .checkmark::after{
    opacity: 1;
  }
}

.buttonsEnd{
  padding: 50px 0;
}
.leftButtonEnd{
  float: left;
  padding: 5px 30px;
  color: @mainBlue;
}
.rightButtonEnd{
  float:right;
  padding: 5px 30px;
  color: @mainWhite;
  background: @mainBlue;
}